body {
  background-color:black;
  margin: 60px;
  padding: 0;
  color: white;
  font-family: Avantgarde, URW Gothic L, sans-serif;
  height: 300px;
  width: 100%;
  
}

h1 {
  text-align: center;
  color: #068FFF;
}

h2 {
  color: #068FFF;
  text-align: center;
}

h3 {
  text-align: center;
}

hr {
  background-color: #4E4FEB;
  height: 5px;
  border: 0;
}

a:link, a:visited {
  color:white;
  text-decoration: none;
}

.headerTitle {
  width: 85%;
  color:white;
  display: flex;
  align-items: center;
  margin: 100px auto;
  justify-content: space-around;
}

.title {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#quotes {
  font-style: italic;
}
.title-img {
  margin: 0px 60px 0px 0px;
}

.mySelfImage {
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid yellow 5px; */
}

#summary{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
    
}

#summary-doc {
  margin-top: 15px;
  width: 60%;
}

.subTitle {
  font-size: 25px;
  align-items: center;
  color: #4E4FEB;
  
   
}

#summary-doc p {
    text-indent:50px;
 }



.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  margin-top: 100px;
  font-size: 25px;
  width: 70%;
    
}

.skill-title {
  width: 99%;
  text-align: center;
      
}

.skill-row {
  display: flex;
  height: 400px;
  width: 100%;
  
}

.skill-column ul {
  list-style-type: none;
}

.skill-column ol {
  list-style-type: square;
  text-align: start;
}

.skill-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.employeeHistory-column li {
  list-style-type: none;
}

.skillContainer {
  position: absolute;
  top: 50px;
  display: inline-block;
  width: 50px;
  height: 150px;
  /* border: solid blue 5px; */
  justify-content: center;
  width: 50%;

}

.skillCategory {
  /* border: red solid 5px; */
  left: 250px;
  height: 500px;
  width: 30%;
  text-align: center;
}

.skillList {
  /* border: rgb(187, 255, 0) solid 5px; */
  right: 250px;
  height: 500px;
  width: 45%;
  text-align: center;
  
}

.skillCategory ul {
  list-style-type: none;

}

.skillList ul {
  list-style-type: none;
  font-size: 20px;
  
}

.btnSkills {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
 }

 .educationContainer {
  position: absolute;
  top: 350px;
  width: 50%;
  /* border: solid green 5px; */
}

 .schoolCollege {
    color: white;
 }

 .project {
    border: rgb(250, 249, 250) solid 2px;
    width: 250px;
    height: 250px;
    position: absolute;
    flex-direction: row;
        
 }

 .projectContainer {
  position: absolute;
  top: 1100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* border: solid green 5px; */
  
}

.project1 {
  top: 100px;
}

.project2 {
  top: 100px;
  left: 350px;
}

.project3 {
  top: 100px;
  right: 0px;
}

.project4 {
  top: 400px;
}

.project5 {
  top: 400px;
  left: 350px;
}

.project6 {
  top: 400px;
  right: 0px;
}

.project7 {
  top: 700px;
}

.project8 {
  top: 700px;
  left: 350px;
}

.project9 {
  top: 700px;
  right: 0px;
}

