html, body {
  background-color:black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  border: 1px solid white;
}

h1 {
  text-align: center;
}

.headerTitle {
  color:white;
  margin: 50px auto;
  border: 1px solid white;
}